:root {
    --secondary-color:#666;
    --introduction-span-color:#FF8A56;
}

* {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #08101e;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: none;
}

header nav a {
    color:#ffffff;
    margin-right: 10px;
}

header img{
    width: 43px;
    height: 72px
}

.h3{
    display: flex;
    justify-content: space-between;
    color: #3A68B8;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
}

h3{
    color: #3A68B8;
    font-size: 18px;
}

.button{
    background: #3A68B8;
    color:#fff;
    width: 140px;
    height: 52px;
    padding: 2px 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 0 auto; 
    border-radius: 5px;
    margin: 0 14px;
}

.introduction .intro-left-side .book {
    background: #222;
    color:#fff;
    width: 151px;
    height: 58px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.introduction .intro-left-side p {
    color:var(--secondary-color);
    font-weight: 400;
}

.introduction .intro-right-side img{
    width: 300px;
    margin: 0 auto;
}

.introduction .intro-left-side h1{
    color: #FFFF;
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 20px;
}

.introduction .intro-left-side h1{
    color: #FFFF;
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 20px;
}

article{
    color: #ffffff;
    opacity: .7;
}

.book-a-call {
    margin-top: 40px;
}

.div{
    justify-content: space-between;
    display: flex;
}

.logoipsumlar h6{
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}

.logoipsumlar{
    padding: 100px 0px;
}

.book-a-call a{
    background: #3A68B8;
    color:#fff;
    width: 119px;
    height: 51px;
    padding: 2px 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 0 auto;
}

.intro-section .div-right p {
    color:var(--secondary-color);
    font-weight: 400;
}

.intro-section .div-right .book {
    background: #222;
    color:#fff;
    width: 151px;
    height: 58px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.intro-section .div-right h2 {
    font-size: 45px;
    color: #ffffff;
    font-weight: 600;
}

.intro-section .div-left img{
    width: 300px;
    margin: 0 auto;
}

.intro-section .div-right h2{
    color: #FFFF;
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 20px;
}

.services-cards img{
    margin: 0 111px;
    width: 78px;
}

.services-cards .card{
    transition: all .1s ease-in;
    padding:  11px 0;
    margin:  40px 0;
    margin-bottom: 100px;
    border-radius: 5px;
    color: #ffffff;
    background: linear-gradient(to bottom, #0d1422, #19202d);
}

.services-cards{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(192px,1fr));
    color: #FFFF;
    margin: 0 20px;
}

.services-cards .card:nth-child(2),
.services-cards .card:nth-child(3),
.services-cards .card:nth-child(4),
.services-cards .card:nth-child(5){
        display: none;
}

h5{
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}

.introduction .last-right img{
    width: 300px;
    margin: 0 auto;
    padding: 20px 0 60px 0;
}

.share-section .left-side p {
    color:var(--secondary-color);
    font-weight: 400;
}

.share-section .left-side .book {
    background: #222;
    color:#fff;
    width: 151px;
    height: 58px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

}

.services-card img{
    margin: 0 60px;
    width: 78px;
}

.card-right article{
    padding: 14px;
    font-size: 16px;
}

.card-right img{
    padding: 10px;
}

.services-card{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(192px,1fr));
    color: #FFFF;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    margin: -90px 3px;
}

p{
    opacity: 0.7;
    text-align: center;
    font-size: 16px;
}

h6{
    color: #ffffff;
    font-size: 18px;
    margin: 43px 12px;
}

.h6{
    color: #FFFF;
    margin: 20px 13px;
}

.h5{
    color: #FFFF;
    margin: 40px 13px;
}

.share-section .right-side p {
    color:var(--secondary-color);
    font-weight: 400;
}

.share-section .right-side .book {
    background: #222;
    color:#fff;
    width: 151px;
    height: 58px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.share-section .right-side h2 {
    font-size: 45px;
    color: #ffffff;
    font-weight: 600;
}

.right-side{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.div img:nth-child(2),
.div img:nth-child(3),
.div img:nth-child(4){
   display: none;
}



@media(max-width:320px){
    .button{
        background: #3A68B8;
        color:#fff;
        width: 140px;
        height: 42px;
        padding: 2px 2px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 0 auto; 
        border-radius: 5px;
        margin: 0 21px;
    }

    .h3{
        display: flex;
        justify-content: space-between;
        color: #3A68B8;
        font-weight: 600;
        font-size: 16px;
        align-items: center;
    }
}

@media(max-width:575px) {
    .parentdiv {
        max-width: 100%;
    }

    .entrance {
        max-width: 100%;
    }

    .share {
        max-width: 100%;
    }

    .h3{
        display: flex;
        justify-content: space-between;
        color: #3A68B8;
        font-weight: 600;
        font-size: 18px;
        align-items: center;
    }
}

@media(min-width:576px) {
    .parentdiv {
        max-width: 540px;
        margin: 0 auto;
    }

    .entrance {
        max-width: 540px;
        margin: 0 auto;
    }
    
    .share {
        max-width: 540px;
        margin: 0 auto;
    }

    .h3{
        display: flex;
        justify-content: space-between;
        color: #3A68B8;
        font-weight: 600;
        font-size: 16px;
        align-items: center;
    }
}

@media(min-width:768px) {
    .parentdiv {
        max-width: 720px;
        margin: 0 auto;
    } 

    .entrance {
        max-width: 720px;
        margin: 0 auto;
    }

    .share{
        padding: 86px 0;
        display: flex;
        justify-content: space-between;
        max-width: 720px;
        margin: 0 auto;
    }

     .fa-bars {
        display: none;
    }

    .services-cards img{
        margin: 0 127px;
        width: 78px;
    }

    .introduction .last-right img{
        width: 300px;
        margin: 0 auto;
    }

    header nav {
        display: block;
    }

    .logoipsumlar{
        padding: 200px 0;
    }

    .introduction {
        display: flex;
    }

    .introduction .intro-left-side{
        padding-top: 70px;
    }

    .introduction .intro-right-side{
        padding-top: 70px;
    }

    .introduction .intro-left-side h1 {
        font-size: 28px;
        color: #ffffff;
    }
    
    .introduction .intro-right-side img{
        width: 379px;
        height: 358px;
        margin: -47px 8px;
        
    }

    .intro-section {
        display: flex;
    }

    .intro-section .div-right{
        padding-top: 4px;
        margin: -62px 22px;
    }

    .intro-section .div-left{
        padding-top: 70px;
    }

    .intro-section .div-right h2 {
        font-size: 29px;
        color: #ffffff;
        font-weight: 600;
        margin: 0 0 20px 0;
    }
    
    .intro-section .div-left img{
        width: 390px;
        height: 550px;
        margin: -271px 25px 27px 0;
    }
    
    .services-cards .card{
        transition: all .1s ease-in;
        padding:  5px;
        margin:  5px;
        margin-bottom: 100px;
        border-radius: 5px;
        color: #ffffff;
        background: linear-gradient(to bottom, #0d1422, #19202d);
    }

    .services-cards img{
        margin: 0 60px;
        width: 78px;
    }

    .introduction {
        display: flex;
    }

    .introduction .intro-left-side{
        padding-top: 70px;
    }

    .introduction .last-right{
        padding-top: 70px;
    }

    .introduction .intro-left-side .h4 {
        font-size: 23px;
        color: #ffffff;
    }

    .introduction .last-right img{
        width: 474px;
        height: 483px;
        margin: -47px 8px;
    }

    .right-side{
        display: inline !important;
    }
    
     .div img:nth-child(3){
        display: block ;
    }
   
.services-cards .card:nth-child(4),
.services-cards .card:nth-child(5){
        display: block;
}
}

@media(min-width:992px) {
    .parentdiv {
        max-width: 960px;
        margin: 0 auto;
    }

    .entrance {
        max-width: 960px;
        margin: 0 auto;
    }
    
    .share {
        max-width: 960px;
        margin: 0 auto;
    }

    .div{
        justify-content: space-between;
        display: flex;
    }

    .div img{
        display: inline !important;
    }

    .introduction .intro-left-side h1 {
        font-size: 59px;
        color: #ffffff;
    }

    .introduction .intro-left-side .h4 {
        font-size: 42px;
        color: #ffffff;
    }

    .introduction .intro-left-side {
        padding: 92px 0;
    }

    .introduction .intro-right-side {
        padding-top: 72px;
    }

    .introduction .intro-right-side img{
        width: 592px;
        height: 528px;
        margin: -15px;
    }

    .introduction .last-right img{
        width: 585px;
        height: 500px;
        margin: -25px;
    }
    
    .introduction {
        display: flex;
    }
    
    .logoipsumlar{
        padding: 200px 0px;
    }

    .intro-section {
        display: flex; 
    }

    .intro-section .div-right h2 {
        font-size: 40px;
        color: #ffffff;
    }

    .intro-section .div-right {
        padding: 52px 45px;
    }

    .intro-section .div-left {
        padding-top: 72px;
    }

    .intro-section .div-left img{
        width: 870px;
        height: 536px;
        margin: -261px -145px;
        padding: 0 0 371px 0;
    }

    .share-section {
        display: flex;  
    }
    
    .share-section .left-side h1 {
        font-size: 59px;
        color: #ffffff;
    }

    .share-section .left-side .h4 {
        font-size: 42px;
        color: #ffffff;
    }

    .share-section .left-side {
        padding: 92px 0;
    }

    .share-section .right-side {
        padding-top: 72px;
    }
   
    .card{
        display: inline !important;
    }
    
    .card-right{
        display: flex;
        justify-content: space-between;
        transition: all .1s ease-in;
        padding: 5px;
        margin: 25px 43px;
        margin-bottom: 100px;
        border-radius: 5px;
        color: #FFFF;
    }

    .button{
        background: #3A68B8;
        color:#fff;
        width: 151px;
        height: 58px;
        padding: 2px 2px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 0 auto; 
        border-radius: 5px;
    }

    header img{
        width: 58px;
        height: 72px
    }

    .h3{
        display: flex;
        justify-content: space-between;
        color: #3A68B8;
        font-weight: 600;
        font-size: 22px;
        align-items: center;
}
}

@media(min-width:1200px) {
    .parentdiv {
        max-width: 1140px;
        margin: 0 auto;
    }

    .entrance {
        max-width: 1140px;
        margin: 0 auto;
    }

    .share {
        max-width: 1140px;
        margin: 0 auto;
    }
}